# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ayozwbqojeqajsklzyjb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_-OItk9WnlNRXMmI44qxCFg_SWJy12ri

# Zoho Mail SMTP
SMTP_HOST=smtp.zoho.com
SMTP_PORT=587
SMTP_USER=juridico@ceafonso.com.br
SMTP_PASS=bSWGw9muGect
SMTP_FROM=juridico@ceafonso.com.br

# URL pública da aplicação (trocar após deploy)
NEXT_PUBLIC_APP_URL=cliente.ceafonso.com.br
